---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <link rel="shortcut icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/favicon.png" >
  {% include head.html %}

  <body>
    <div id="shadow"></div>

      {% include header.html %}
      {% include aside.html %}

    <main class="content-wrapper">
      {{ content }}
    </main>

    {% include footer.html %}

    <script id="dsq-count-scr" src="//blog-medcode-in.disqus.com/count.js" async></script>
  </body>
</html>
